body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input, button {
    width: 90%;
    padding: 10px;
    margin: 3px 0;
}
.resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}