<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<head><meta charset="UTF-8"><title>Cadastrar Funcionário</title></head>
<body>
    <h1>Cadastrar Funcionário</h1>
    <form method="post">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br>
        
        <label>Cargo:</label><br>
        <input type="text" name="cargo" required><br>
        
        <label>Telefone:</label><br>
        <input type="text" name="telefone" required><br>
        
        <label>CPF:</label><br>
        <input type="text" name="cpf" required><br>
        
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        
        <label>Data de Nascimento:</label><br>
        <input type="date" name="nascimento" required><br>
        
        <label>Salário:</label><br>
        <input type="number" name="salario" step="0.01" required><br>
        
        <label>Data de Contratação:</label><br>
        <input type="date" name="contratacao" required><br><br>
        
        <!-- Campos novos: usuário e senha -->
        <label>Usuário:</label><br>
        <input type="text" name="usuario" required><br>
        
        <label>Senha:</label><br>
        <input type="password" name="senha" required><br><br>
        
        <button type="submit">Salvar</button>
    </form>
    <br>
    <a href="{{ url_for('home') }}">Voltar</a>
</body>
</html>