<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<head><meta charset="UTF-8"><title>Editar Funcionário</title></head>
<body>
    <h1>Editar Funcionário</h1>
    <form method="post">
        <label>Nome:</label><br>
        <input type="text" name="nome" value="{{ funcionario.nome }}" required><br>
        <label>Cargo:</label><br>
        <input type="text" name="cargo" value="{{ funcionario.cargo }}" required><br>
        <label>Telefone:</label><br>
        <input type="text" name="telefone" value="{{ funcionario.telefone }}" required><br>
        <label>CPF (não editável):</label><br>
        <input type="text" value="{{ funcionario.cpf }}" disabled><br>
        <label>Email:</label><br>
        <input type="email" name="email" value="{{ funcionario.email }}" required><br>
        <label>Data de Nascimento:</label><br>
        <input type="date" name="nascimento" value="{{ funcionario.nascimento }}" required><br>
        <label>Salário:</label><br>
        <input type="number" name="salario" value="{{ funcionario.salario }}" step="0.01" required><br>
        <label>Data de Contratação:</label><br>
        <input type="date" name="contratacao" value="{{ funcionario.contratacao }}" required><br><br>

        <button type="submit">Salvar Alterações</button>
    </form>
    <br>
    <a href="{{ url_for('login_adm', usuario='Admin') }}">Voltar</a>
</body>
</html>
