<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<head><meta charset="UTF-8"><title>Editar Cliente</title></head>
<body>
    <h1>Editar Cliente: {{ cliente.nome }}</h1>

    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" value="{{ cliente.nome }}" required><br><br>

        <label>Telefone:</label><br>
        <input type="text" name="telefone" value="{{ cliente.telefone }}" required><br><br>

        <label>Endereço:</label><br>
        <input type="text" name="endereco" value="{{ cliente.endereco }}" required><br><br>

        <label>Usuário:</label><br>
        <input type="text" name="usuario" value="{{ cliente.usuario }}" required><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" value="{{ cliente.senha }}" required><br><br>

        <button type="submit">Salvar</button>
    </form>

    <br>
    <a href="{{ url_for('login_adm', usuario='Admin') }}">Voltar</a>
</body>
</html>
