body {
  font-family: 'Sansita Swashed', cursive;
  background-color: #D9C39D; /* Cor do fundo */
  margin: 0;
  padding: 0;
}

.faixa-vermelha {
  background-color: #9F2C15; /* Cor da faixa */
  height: 60px;
  margin-top: 20px;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  padding: 0 20px; /* Espaço à esquerda e à direita */
}

.logo {
  width: 50px; /* Tamanho da Logo */
  height: auto;
  margin-right: 15px; /* Espaço entre a logo e o nome */
}

.nome-pizzaria {
  color: white;
  font-size: 24px;
}

.titulo-login {
  font-size: 80px;
  margin-left: 250px; /* Espaçamento da esquerda */
  margin-top: 50px; /* Distância do topo */
  color: #333;
}

.form-container {
  margin-left: 55px;
  margin-top: 30px;
  width: 300px; /* Controla a largura dos inputs e do botão */
}

label {
  font-size: 18px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%; /* Faz os inputs ocuparem toda a largura disponível */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 107%; /* O botão vai ter o mesmo tamanho do input */
  padding: 10px;
  font-size: 16px;
  background-color: #9F2C15;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7f1e10; /* Cor ao passar o mouse */
}

.conteudo-login {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-top: 10px;
  gap: 20px;
}

.img-pizza {
  width: 500px; /* Ajuste o tamanho total da pizza */
  height: auto; /* Mantém a proporção da imagem */
  position: absolute;
  right: -10px; /* Posiciona a imagem à direita da tela */
  bottom: 30px; /* Ajuste a altura da imagem da parte inferior */
}

.login-box {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 434px;
  height: 310px;
  margin-top: 80px;
}

.titulo-login {
  font-size: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.link-secundario {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.link-secundario:hover {
  text-decoration: none;
}

.fora-da-caixa {
  margin-top: 20px;
  margin-left: 360px;
  text-align: left;
}
